<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Croyton Solutions - Web | Mobile | Desktop | Hybrid | Cloud |Integrations</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/revolution")
    @Scripts.Render("~/bundles/jqueryval")
   
    <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icon/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Content/images/apple-touch-icon-114x114.png">
   
  
</head>
<body id="page-top" class="index">
   
    <nav id="navbar-main" class="navbar main-menu navbar-fixed-top">
        <div class="header-top">
            <div class="container">
                <div class="contact-info clearfix">
                    <ul class="pull-right list-inline">
                        <li>
                            <a href="tel:(+91)1724172644"><i class="icon-telephone"></i>(+91) 172.417.2644</a>
                        </li>
                        <li>
                            <a href="mailto:info@croyton.com"><i class="icon-envelope"></i>info@croyton.com</a>
                        </li>
                    </ul>
                </div>
              
            </div>
        </div>
        <!-- End of .header-top -->
        <div class="container">
            <!--Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.html"><img src="/Content/images/logo.png" alt="Brand" class="img-responsive" /></a>
            </div>
            <!--Collect the nav links, and other content for toggling-->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll"><a href="#">Home</a></li>
                    <li class="page-scroll"><a href="#services">Services</a></li>
                    <li class="page-scroll"><a data-scroll href="#portfolio">Portfolio</a></li>
                    <!-- <li class="page-scroll"><a data-scroll href="#case_studies">Case Studies</a></li> -->
                    <li class="page-scroll"><a data-scroll href="#about">About</a></li>
                    <li class="page-scroll"><a data-scroll href="#team">Team</a></li>
                    <li class="page-scroll"><a data-scroll href="#pricing">Pricing</a></li>
                    <!-- <li class="page-scroll"><a data-scroll href="#news">News</a></li> -->
                    <li class="page-scroll"><a href="#map" class="btn btn-primary">Contact Us <i class="icon-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end navigation-->


    <div>@RenderBody()</div>
   
    <footer class="text-center clearfix">
        <p>© @DateTime.Now.Year. All rights reserved by Croyton</p>
    </footer>
    <!-- End of footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPzxMzPAI5ZJhLq1wiWm7zVQEvkRGfD-M&callback=initMap" async defer></script>
</body>
</html>
